{# @var event \App\Models\Event #}
{# @var entry \App\Models\EventEntry #}
{% spaceless %}
{% if event.type == 'content' %}
	{% set can_vote = event.checkCanVote(current_user) %}
	{% set user_vote = signed_in ? entry.userVote(current_user) : null %}
	{# @var user_vote \App\Models\EventEntryVote #}
	{% set user_voted = user_vote is not empty and user_vote.isLockedIn(entry) %}
	{% set disable_voting = not signed_in or not can_vote or user_voted or entry.submitted_by == current_user.id ? ' disabled' : '' %}
	{% set upvote_clicked = user_vote is not empty and user_vote.value == 1 ? ' clicked' : '' %}
	{% set downvote_clicked = user_vote is not empty and user_vote.value == -1 ? ' clicked' : '' %}
<div class='voting'>
	<button class='typcn typcn-arrow-sorted-up upvote{{ upvote_clicked }}'{{ disable_voting }} title='Upvote'></button>
	<span class='score' title="Score">{{ entry.formattedScore }}</span>
	<button class='typcn typcn-arrow-sorted-down downvote{{ downvote_clicked }}'{{ disable_voting }} title='Downvote'></button>
</div>
{% endif %}
{% endspaceless %}
