{# @controller \App\Controllers\ColorGuideController::guide #}
{# @var heading string #}
{# @var eqg bool #}
{# @var elastic_avail bool #}
{# @var pagination \App\Pagination #}
{# @var ponies array #}
{# @var owner App\Models\DeviantartUser|array #}
{# @var json_export_url string #}
{# @var json_export_time string #}
{# @var hex_color_regex \App\RegExp #}
{# @var max_upload_size string #}
{% extends "layout/base.html.twig" %}

{% block content %}
  <div id="content">
    <h1>{{ heading }}</h1>
    <p>A searchable list of character colors from the {{ eqg ? 'movies' : 'series' }}</p>
    <p class="align-center">
      We add characters based on demand, please <a class="send-feedback">let us know</a> if you'd like us to make a guide for a character.<br>
      <small>Alternatively, use the old color guides: <a href="https://sta.sh/0kic0ngp3fy">Pony</a> / <a href="http://fav.me/d7120l1">EQG</a></small><br>
      For developers: <a href="{{ json_export_url }}" target="_blank" download="mlpvc-colorguide.json">JSON</a> (last updated {{ json_export_time }}) / <a href="/docs/">API v0.1</a> (WIP)
    </p>
    <div class='align-center button-block'>
      {% if permission('staff') %}
        <button class='green typcn typcn-plus' id="new-appearance-btn">Add new {{ eqg ? 'Character' : 'Pony' }}</button>
      {% endif %}
      <a class='btn link typcn typcn-world' href="/cg/{{ eqg ? 'pony' : 'eqg' }}">View {{ eqg ? 'Pony' : 'EQG' }} Guide</a>
      <a class='btn link typcn typcn-th-menu' href="/cg/{{ eqg ? 'eqg' : 'pony' }}/full">Full List</a>
      <a class='btn link typcn typcn-arrow-forward' href="/cg/blending">Blending Calculator</a>
      <a class='btn link typcn typcn-pipette' href="/cg/picker">Color Picker</a>
      <a class='btn link typcn typcn-tags' href="/cg/tags">Tags</a>
      <a class='btn link typcn typcn-warning' href="/cg/changes">Major Changes</a>
      {% if permission('staff') %}
        <button class='blue typcn typcn-adjust-contrast cg-sprite-colors'>Sprite Color Checkup</button>
      {% endif %}
      {% if permission('developer') %}
        <button class='blue typcn typcn-download cg-export'>Export</button>
        <button class='orange typcn typcn-database cg-reindex'>Re-index</button>
      {% endif %}
    </div>
    {% if universal_appearance is not empty %}
      <ul id='universal' class='appearance-list'>
        {% include 'colorguide/_appearance_list.html.twig' with { 'appearances': [universal_appearance], 'wrap': false } %}
      </ul>
    {% endif %}
    {% if elastic_avail %}
      <form id="search-form">
        <input name="q" title="Search"{{ search_query is not empty ? 'value="' ~ (search_query | apos_encode) ~ '"' }} autofocus>
        <button type="submit" class="blue">Search</button>
        <button type="submit" name="btnl" class="green typcn typcn-flash" title="I'm feeling lucky"></button>
        <button type="reset" class="red typcn typcn-times" title="Clear"{{ search_query is empty ? ' disabled' : '' }}></button>
      </form>
    {% else %}
      <div class="notice warn align-center">
        <span class="typcn typcn-warning"></span> <strong>ElasticSearch server is down!</strong> Please <a class="send-feedback">let us know</a>, and in the meantime, use the <a class="btn link typcn typcn-th-menu" href="/cg'.($EQG?'/eqg':'').'/full">Full List</a> to find appearances faster. Sorry for the inconvenience.
      </div>
    {% endif %}
    {{ pagination }}
    {% include 'colorguide/_appearance_list.html.twig' %}
    {{ pagination }}
  </div>

  {{ export_vars({
    'EQG': eqg,
    'AppearancePage': false,
    'PersonalGuide': owner.id ?? false,
  }) }}
  {% if permission('staff') %}
    {{ export_vars({
      'TAG_TYPES_ASSOC': constant('App\\Tags::TAG_TYPES'),
      'MAX_SIZE': max_upload_size,
      'HEX_COLOR_PATTERN': hex_color_regex,
    }) }}
  {% endif %}
{% endblock %}

{% block widgets %}
  {% include 'colorguide/_widget_hash_copy.html.twig' %}
{% endblock %}
