{# @controller App\Controllers\ShowController::synopsis #}
{# @var current_episode \App\Models\Show #}
{# @var wrap bool #}
{# @var lazyload bool #}
{% spaceless %}
{% if current_episode and current_episode.is_episode and not user_pref('p_hidesynopses') %}
	{% if wrap is not defined or wrap %}
	<section class='synopsis'>
	{% endif %}

		<h2><a href="https://www.themoviedb.org/"><img src="/img/tmdb.svg?v=1" alt="Powered by The Movie DB"></a>Synopsis</h2>

		{% if lazyload is not defined or lazyload == true %}
		<div class="synopsis-promise{% if current_episode.twoparter %} twoparter{% endif %}" data-id="{{ current_episode.id }}"></div>
		{% else %}
			{% set synopses = current_episode.synopses %}
			{% if synopses is not empty %}
				{% for i, synopsis in synopses %}
				<div class="synopsis-content{% if synopsis.image %} has-image{% endif %}">
					{% if synopsis.image %}
					<a class="synopsis-image" href="{{ synopsis.image | replace({'w300': 'original'}) }}">
						<img src="{{ synopsis.image }}" alt="{{ current_episode.title }} synopsis backdrop">
					</a>
					{% endif %}
					<div class="synopsis-text">
						{% if current_episode.twoparter %}
						<h3 class="synopsis-part-label">Part {{ i + 1 }}</h3>
						{% endif %}
						<p class="synopsis-body">{{ synopsis.overview }}</p>
						<p class="synopsis-link">
							<a href='{{ synopsis.url }}'>View in database &raquo;</a>
						</p>
					</div>
				</div>
				{% endfor %}
			{% else %}
				<div class="notice info">
					<p>No synopsis available yet.</p>
				</div>
			{% endif %}

			{% spaceless %}
			<div class="synopsis-disclaimer">
				{% if signed_in %}
				<p>Don't want to see this? You can disable it in <a href="/u/#settings">your settings</a> ({{ constant('App\\UserSettingForm::INPUT_MAP').p_hidesynopses.options.desc }}).</p>
				{% endif %}
				<p>{{ constant('App\\TMDBHelper::REQUIRED_MESSAGE') }}</p>
			</div>
			{% endspaceless %}
		{% endif %}


	{% if wrap is not defined or wrap %}
	</section>
	{% endif %}
{% endif %}
{% endspaceless %}
