{# @var episodes \App\Models\Episode[] #}
{# @var are_movies bool #}
{% spaceless %}
{% if is_staff is not defined %}
	{% set is_staff = permission('staff') %}
{% endif %}
{% if episodes is empty %}
<tr class='empty align-center'><td colspan='3'><em>There are no {{ are_movies ? 'movies' ? 'episodes' }} to display</em></td></tr>
{% else %}
{% for episode in episodes %}
	{% set is_movie = episode.get_is_movie %}
<tr data-epid='{{ episode.getID }}'>
	{% if not is_movie %}
	<td class='season' rowspan='2'>{{ episode.season }}</td>
	{% endif %}
	<td class='episode' rowspan='2'>{{ episode.episode }}{% if episode.twoparter %}-{{ episode.episode + 1 }}{% endif %}</td>
	<td class='title'>
		{% if episode.isLatest %}
		<span class="typcn typcn-home" title="Currently visible on the homepage"></span>
		{% endif %}
		{% if not episode.get_aired %}
		<span class="typcn typcn-chart-pie" title="{{ is_movie ? 'Movie' : 'Episode' }} didn't air yet, voting disabled"></span>
		{% endif %}
		<a href="{{ episode.toURL }}">{{ episode.title | escape }}</a>
		{% if is_staff %}
		<span class='admin-controls'>
			<button class='edit-episode typcn typcn-pencil blue' title='Edit episode'></button>
			<button class='delete-episode typcn typcn-times red' title='Delete episode'></button>
		</span>
		{% endif  %}
	</td>
</tr>
<tr><td class='airs'>{{ time_tag(episode.airs, constant('App\\Time::TAG_EXTENDED'), constant('App\\Time::TAG_STATIC_DYNTIME')) }}</td></tr>
{% endfor %}
{% endif %}
{% endspaceless %}
