{# @var view_name string #}
{# @var view_class string #}
{# @var title string #}
{# @var heading string #}
{# @var signed_in bool #}
{# @var current_user \App\Models\User #}
{# @var current_session \App\Models\Session #}
{# @var remote_addr string #}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
{% include 'layout/_head.html.twig' %}
</head>
<body>
	<header>
		{% include 'layout/_header.html.twig' %}

	</header>

	{% spaceless %}
	<aside id="sidebar">
		<div class='mobile-nav'><nav><ul>{% include 'layout/_navigation_links.html.twig' %}</ul></nav></div>

		{% include 'layout/_sidebar_logged_in.html.twig' %}

		{% if fatal_error_page is defined %}
			<section class="login">
				<h2>Welcome!</h2>
				<p>Signing in is not possible at the moment. Please check back later.</p>
			</section>
		{% else %}
			{% if signed_in %}
				<section class="notifications"{% if notifications is empty %} style="display:none"{% endif %}>
					<h2>Unread notifications</h2>
					{% include 'notifications/list.html.twig' %}
				</section>
			{% endif %}
			<section class="{{ signed_in ? 'welcome' : 'login' }}">
				<h2 class="hidden">Welcome!</h2>
				{% include 'layout/_sidebar_useful_links.html.twig' %}
				<div class="button-block">
					{% if signed_in %}
						<button id="signout" class="typcn typcn-arrow-back">Sign out</button>
					{% else %}
						<button class="typcn btn-da da-login" id="signin">Sign in</button>
					{% endif %}
					{% if not user_pref('p_hidediscord') and (not signed_in or not current_user.isDiscordServerMember) %}
						<a class="btn typcn btn-discord discord-join" href="<?=DISCORD_INVITE_LINK?>">Join Discord</a>
					{% endif %}
				</div>
			</section>
			<section id="episode-live-update" class="hidden">
				<h2><span class="live-circle"></span> Live updates enabled</h2>
				<p>Changes to the posts on this page are visible to you in real time.</p>
			</section>
			<section id="entry-live-update" class="hidden">
				<h2><span class="live-circle"></span> Live updates enabled</h2>
				<p>Changes to post scores are visible in real time to everyone who sees this message.</p>
			</section>
			{% block widgets %}{% endblock %}
			{# @var happening_soon string #}
			{% if happening_soon is not empty %}
				{{ happening_soon }}
			{% endif %}
		{% endif %}
	</aside>
	{% endspaceless %}

	<div id="above-content">
		<ol id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">{{ breadcrumbs }}</ol>
		<div id="notices">
			{% include 'layout/_notices.html.twig' %}
		</div>
	</div>

	<div id="main">
		{% block content %}{% endblock %}
	</div>

	<footer>
		{% include 'layout/_footer.html.twig' %}
	</footer>

{% include 'layout/_jquery.html.twig' %}
<script nonce="{{ constant('CSP_NONCE') }}">$.API = { API_PATH: "{{ constant('API_PATH') }}" }</script>
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script src="https://ws.{{ server_name }}:8667/socket.io/socket.io.js" id="wss"></script>
{{  export_vars({
	'PRINTABLE_ASCII_PATTERN': constant('PRINTABLE_ASCII_PATTERN'),
	'signedIn': signed_in,
}) -}}
{% include 'layout/_scripts.html.twig' %}
</body>
</html>
