{# @controller \App\Controllers\UserController::profile #}
{# @var user \App\Models\User #}
{# @var same_user bool #}
{# @var is_staff bool #}
{# @var can_edit bool #}
{# @var dev_on_dev bool #}
{# @var sessions \App\Models\Session[] #}
{# @var discord_membership \App\Models\DiscordMember #}
{# @var error string #}
{# @var sub_error string #}
{# @var da_logo string #}
{# @var current_session \App\Models\Session #}
{% extends 'layout/base.html.twig' %}

{% block content %}
<div id="content">
{% if error is defined and error is not null %}
	<h1>{{ error }}</h1>
	{% if sub_error is not null %}
	<p>{{ sub_error }}</p>
	{% endif %}
{% else %}
	<div class="briefing">
		{% include 'layout/_avatar_wrap.html.twig' with { 'current_user': user } %}
		<div class="title">
			{% spaceless %}
			<h1>
				<span class="username">{{ user.name }}</span>
				<a class="da" title="Visit DeviantArt profile" href="{{ user.toDALink }}">{{ da_logo }}</a>
				{{ user.vectorAppIcon }}
				{% if user.isDiscordServerMember %}
				<img class='discord-logo' src='/img/discord-logo.svg' alt='Discord logo' title='This user is a member of our Discord server{{ discord_membership.get_name != user.name ? ('as ' ~ discord_membership.get_name) | escape : ''}}'>
				{% endif %}
			</h1>
			{% endspaceless %}
			<p>
				<span class='role-label'>{{ user.maskedRoleLabel }}</span>
				{% if dev_on_dev %}
				<span id="change-dev-role-mask" class="inline-btn typcn typcn-edit" title="Change developer's displayed role"></span>
				{% endif %}
				{% if can_edit -%}
				<button id='change-role' class='blue typcn typcn-spanner' title='Change {{ posess(user.name) }} role' data-for='{{ user.id }}'></button>
				{% endif %}
				{% if permission('developer') %}
				&bullet; <span class='user-id'>{{ user.id }}</span>
					{% if user.boundToDiscordMember %}
					&bullet; <span class='discord-id'>{{ discord_membership.id }}</span>
					{% endif %}
				{% endif %}
			</p>
		</div>
	</div>
	<div class="details section-container">
		{% if old_names is not empty %}
		<section class="old-names">
			<h2>{{ same_user ? constant('App\\Users::PROFILE_SECTION_PRIVACY_LEVEL').staff : '' }}Previous names <span class="typcn typcn-info color-blue cursor-help" title="Upper/lower-case letters may not match"></span></h2>
			<div>{{ old_names }}</div>
		</section>
		{% endif %}
		{% include 'user/_profile_contributions.html.twig' %}
		{% include 'user/_profile_personal_guide.html.twig' %}

	{% set is_user_member = user.perm('member') %}
	{% if signed_in %}
		{{ user.pendingReservationsHTML(same_user, is_user_member) }}
	{% endif %}
	{% if is_user_member %}
		{% include 'user/_profile_awaiting_approval.html.twig' %}
	{% endif %}
	</div>
	{% if same_user or is_staff %}
	<div id="settings" class="section-container">
		{% set staff_privacy = same_user ? constant('App\\Users::PROFILE_SECTION_PRIVACY_LEVEL').staff : '' %}
		<section class="guide-settings">
			<h2>{{ staff_privacy }}Color Guide</h2>
			{{ setting_form('cg_itemsperpage', user) }}
			{{ setting_form('cg_hidesynon',    user) }}
			{{ setting_form('cg_hideclrinfo',  user) }}
			{{ setting_form('cg_fulllstprev',  user) }}
		</section>
		<section class="eppage-settings">
			<h2>{{ staff_privacy }}Episode pages</h2>
			{{ setting_form('ep_noappprev',  user) }}
			{{ setting_form('ep_revstepbtn', user) }}
		</section>
		<section class="personal-settings">
			<h2>{{ staff_privacy }}Personal</h2>
			{{ setting_form('p_avatarprov',   user) }}
			{{ setting_form('p_vectorapp',    user) }}
			{{ setting_form('p_hidediscord',  user) }}
			{{ setting_form('p_hidepcg',      user) }}
			{{ setting_form('p_homelastep',   user) }}
			{{ setting_form('p_hidesynopses', user) }}
		</section>
		<section class="staff-limits">
			<h2>{{ staff_privacy }}Account limitations</h2>
			{{ setting_form('a_pcgearn',   user, 'staff') }}
			{{ setting_form('a_pcgmake',   user, 'staff') }}
			{{ setting_form('a_pcgsprite', user, 'staff') }}
			{{ setting_form('a_postreq',   user, 'staff') }}
			{{ setting_form('a_postres',   user, 'staff') }}
			{{ setting_form('a_reserve',   user, 'staff') }}
		</section>
		<section class="sessions">
			<h2>{{ staff_privacy }}Sessions</h2>
			{% if sessions is not empty %}
				<p>Below is a list of all the browsers {{ same_user ? "you're" : 'this user is' }} currently signed into.</p>
				<ul class="session-list">
				{% for s in sessions %}
					{{ s.profileCard(current_session.id == s.id) }}
				{% endfor %}
				</ul>
				<p><button class="typcn typcn-arrow-back yellow" id="sign-out-everywhere">Sign out everywhere</button></p>
				{% else %}
				<p>{{ same_user ? 'You are' : 'This user is' }}n't logged in anywhere.</p>
			{% endif %}
		</section>
		<section id="discord-connect">
			<h2>{{ staff_privacy }}Discord account</h2>
			{% set unlink_btn %}<button class="orange typcn typcn-user-delete unlink">Unlink</button>{% endset %}
		{% if user.boundToDiscordMember %}
			<p>
				{{ same_user ? 'Your' : 'This' }} account {{ discord_membership.isLinked ? 'is linked' : 'was manually bound' }} to <strong>{{ discord_membership.get_discord_tag | escape }}</strong>
				{% if discord_membership.isLinked -%}
					{% set you = same_user ? 'you' : 'they' %}
					{% if discord_membership.isServerMember %}
					and {{ you }}'ve joined our <a href='https://discordapp.com/channels/{{ constant('DISCORD_SERVER_ID') }}'>Discord server</a>.
					{% else %}
					but {{ you }} haven't joined our <a href='{{ constant('DISCORD_INVITE_LINK') }}'>Discord server</a> yet.
					{% endif %}
				{% else -%}
				by a staff member, but manual bindings are no longer considered valid.
				{% endif -%}
			</p>
			{% if discord_membership.isLinked %}
			{% set sync_cooldown = constant('App\\Models\\DiscordMember::SYNC_COOLDOWN') %}
			<p id="discord-sync-info" data-cooldown="{{ sync_cooldown }}">
				{% if discord_membership.isServerMember %}
				Server members' DiscordTag and avatar is updated automatically, but you can always use the button below to force an update.
				{% else %}
				else echo "You can use the button below to force an update to your account information at any time. Server members' data is updated automatically.
				{% endif %}<br>
				Your account information was last updated {{ time_tag(discord_membership.last_synced) }}.
				{%- if not discord_membership.canBeSynced -%}
				<span class="wait-message"> At least {{ make_plural('minute', sync_cooldown/60, constant('PREPEND_NUMBER')) }} must pass before syncing again.</span>
				{%- endif -%}
			</p>
			<div class="button-block align-center">
				<button class="green typcn typcn-arrow-sync sync"{{ not discord_membership.canBeSynced ? ' disabled' : '' }}>Sync</button>
				{{ unlink_btn }}
			</div>
			{% endif %}
		{% endif %}
		{% if discord_membership is empty %}
			{% if same_user %}
			<p>Link your account to be able to choose between your Discord and DeviantArt avatars as well as to participate in events for Discord server members.</p>
			{% elseif user.boundToDiscordMember %}
			<p>You may unlink this account if you feel it should not have been linked in the first place.</p>
			{% else %}
			<p>This user hasn't linked their Discord account yet.</p>
			{% endif %}
			<div class="button-block align-center">
				{% if same_user %}
				<a href="/discord-connect/begin" class="btn link typcn typcn-link">Link account</a>
				{% endif %}
				{% if discord_membership is same as(false) %}
				{{ unlink_btn }}
				{% endif %}
			</div>
		{% endif %}
		</section>

		{% if same_user %}
		<section>
			<h2>{{ same_user ? constant('App\\Users::PROFILE_SECTION_PRIVACY_LEVEL').private }}Revoke access to your account data</h2>
			<p>We have no access to any information that isn't publicly available on your DeviantArt profile, except for your user ID, which is used to keep track of which user you are even if you change your name. Nonetheless, if you no longer want to let this site verify your identity you may use the link below to visit your authorized apps on DeviantArt and revoke access to any you wish, including this website. After you sign out or your current token expires you will have to re-allow the application access to your basic user information to continue using the site. Keep in mind that the site is not notified when you do this.</p>
			<a href="https://www.deviantart.com/settings/applications" class="btn link typcn typcn-arrow-forward">Visit authorized apps page</a>
		</section>
		{% endif %}
	</div>
	{% endif %}
{% endif %}

{% if export_roles is defined %}
{{ export_vars({ 'ROLES': export_roles }) }}
{% endif %}
{% if user is not empty %}
{{ export_vars({
	'username': user.name,
	'userId': user.id,
}) }}
{% endif %}
{% endblock %}
